body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: orange;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1a1d1e;
        color: white;
    }

    input[type="text"] {
        background-color: #333;
        color: white;
        border: 1px solid #555;
    }

    input[type="text"]::placeholder {
        color: #bbb;
    }

    button {
        background-color: #333;
        color: white;
        border: 1px solid #555;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }

    input[type="text"] {
        background-color: #f0f0f0;
        color: black;
        border: 1px solid #ccc;
    }

    input[type="text"]::placeholder {
        color: #888;
    }

    button {
        background-color: #f0f0f0;
        color: white;
        border: 1px solid #ccc;
    }
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin: 5px 0;
    width: 200px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

input[type="text"]:focus {
    outline: none;
    border-color: orange;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.success {
    background-color: green !important;
    color: white !important;
}

.error {
    background-color: red !important;
    color: white !important;
}